body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
#container1 {
    background-color: #881337;
    display: flex;
    margin-top: 0%;
}
#container1-1 {
    width: 50%;
    max-width: 900px;
    padding-left: 5%;
    margin: 0;
}
#container1-2{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    float: right;
    margin: 0;
    padding-right: 2%;
    padding-left: 30%;
}
.top-right-links{
    float: right;
    color:white;
    margin: 2% 0;
}
#xinder-home{
    text-decoration: none;
    color: white;
}
#join-now{
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 1% 4% 1% 4%;
    border-radius: 5px;
}
.top-right-links a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}
#container2{
    display: flex;
    background-color: #881337;
    height: 500px;
}
#container2-1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding-left: 5%;
}
#container2-1 h1{
    font-size: 80px;
    color: white;
    width: 100%;
    margin-bottom: 20px;
}
#container2-1-1 {
    display: flex;
    height: 50px;
    width: 100%;
}
#container2-1-1 form{
    width: 100%;
}
#container2-1-1 input{
    height: 100%;
    box-sizing: border-box;
    width: 80%;
    color: gray;
    font-size: 15px;
}
#container2-1-1 button{
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #BE123C;
    color: white;
    border-color: #BE123C;
}
#container2-2{
    width: 60%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
#container2-2 img {
    height: 485px;
    align-content: center;
}
#container2-1-2 {
    width: 100%;
    display: flex;
}
#container2-1-2 span{
    color: white;
    margin-right: 1%;
    margin-top: 1%;
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    padding: 1% 1% 1% 1%;
    border-radius: 5px;
}
#container2-1-2 span a{
    text-decoration: none;
    color: white;
}
#container3 {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #F1F5F9;
    height: 120px;
    align-items: center;
}
#container4{
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
}
#container4-1{
    display: flex;
    justify-content: space-between;
}
#container4-1-2-1{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
}
#container4-1-2{
    width: 11%;
    align-items: center;
}
#container4-1-2 a{
    text-decoration: none;
    color: #2563EB;
}
#container4-1-2-1 img{
    height: 18px;
    width: 18px;
    margin-left: 6%;
}
#container4-2{
    display: flex;
    justify-content: space-between;
}
#container4-2-1{
    width: 15%;
    
}
#container5{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F1F5F9;
}
#container5-1{
    display: flex;
    justify-content: space-between;
}
#container5-1-1 h1{
    font-size: 40px;
}
#container5-1-2-1{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content:center;
}
#container5-1-2{
    width: 20%;
    align-items: center;
}
#container5-1-2 a{
    text-decoration: none;
    color: #2563EB;
}
#container5-1-2-1 img{
    height: 18px;
    width: 18px;
    margin-left: 4%;
}
#container5-2{
    display: flex;
    padding-right: 0;
    margin-right: 0;
}
.container5-2-1{
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-right: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container5-2-1 img{
    border-radius: 5px;
}
.container5-2-1-1{
    background-color: white;
    display: flex;
    height: 80px;
}
.container5-2-1-1 img{
    padding: 5% 3% 5% 5%;
}
.container5-2-1-1-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
}
.container5-2-1-1-1 #p1{
    font-size: 18px;
}
.container5-2-1-1-1 #p2{
    font-size: 14px;
}
.container5-2-1-1-1 a{
    text-decoration: none;
    color: black;
}
#container6{
    padding-top: 80px;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container6-1 h1{
    font-size: 40px;
}
#container6-2 {
    display: flex;
    padding-top: 80px;
    width: 100%;
    justify-content: space-between;
    
}
.container6-2-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container6-2-1 img{
    width: 80px;
    height: 80px;
}
#container6-3 {
    padding-top: 80px;
    padding-bottom: 80px;
}
#container6-3 button{
    background-color: #BE123C;
    font-size: 20px;
    color: white;
    padding: 5% 20px 5% 20px;
    border-style: solid;
    border-color: #BE123C;
    border-radius: 5px;
}